.add-task {
  background-color: #ebdcf5;
}

.add-task-form {
  text-align: left;
  margin: 0.5em;
  font-family: 'Montserrat', sans-serif;
}

.add-task-btn {
  display: flex;
  justify-content: flex-end;
 
}

.add-task-confirm {
  margin: 0.1rem;
  background-color: #448ff1;
  border: #448ff1;
}