.columns {
  display: flex;
  margin: 2em;
  width: 15rem;
}

.column-header {
  background-color: #f7ccc8;
}

.card-header .edit-delete-btn {
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

.card-header:hover .edit-delete-btn {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
}

.task-list {
  display: flex;
  flex-direction: column;
}