.columns {
  display: flex;
  margin: 2em;
  width: 13rem;
  padding-bottom: 3rem;
}

.column-header {
  background-color: #f7ccc8;
  font-family: 'Balsamiq Sans', cursive;
}

.card-header .edit-delete-btn {
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
}

.card-header:hover .edit-delete-btn {
  visibility: visible;
  display: flex;
  justify-content: flex-end;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.column-edit {
  display: flex;
  justify-content: flex-end;
}

.column-edit-btn {
  margin: 0.3em;
  background-color: #448ff1;
  border: #448ff1;
}