.nav {
  display: flex;
  justify-content: space-between;
  background-color: #f5aea9;
  font-family: 'Montserrat', sans-serif;
}
.brand-logo {
  font-family: 'Leckerli One', cursive;
  font-size: 28px;
}